canvas {
    display: block;

  }
/* CSS */
button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: 200px;
  max-height: 200px;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  margin-left: 50px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:hover{
  opacity: .75;
}
body {
    padding: 100px;
  }

  p {
    color: black;
    text-indent: 30px;
    text-transform: uppercase;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
  }
  
  #transcription {
    color: navy;
    text-indent: 30px;
    text-transform: uppercase;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
  }